<%= form_for(@bike) do |f| %>
  <% if @bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% @bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.select(:brand_id, @brands.collect{|t| [t.name, t.id]}, :prompt => (t"select_brand")) %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <%= f.fields_for :bike_photos do |p| %>
      <div class="field">
        <%= p.label :photo %><br>
        <%= p.file_field :photo, :multiple => true, name: "bike_photos[photo][]" %>
      </div>
  <% end %>

  <% if params[:controller] == "bikes" && params[:action] == "edit" %>
      <% @bike.bike_photos.each do |p| %>
          <%= image_tag p.photo %>
      <% end %>
  <% end %>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
