<h1><%= t("list_bikes") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.bike.name") %></th>
      <th><%= t("activerecord.attributes.bike.summary") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.name %></td>
        <td><%= bike.summary %></td>
        <td><%= link_to 'Show', bike %></td>
        <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
        <td><%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("new_bike"), new_bike_path %>
