<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bike.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @bike.summary %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bike.price %>
</p>
<% @bike_photos.each do |p| %>
    <%= image_tag p.photo %>
    <%= link_to "Edit Photo", edit_bike_photo_path(p) %>
<% end %>

<p>
  <strong><%= t("list_dealer") %></strong>
<table>
  <% @bike_dealers.each do |dealer| %>
      <tr>
        <td><%= dealer.name %></td>
      </tr>
  <% end %>
</table>
</p>
<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
